@import 'https://www.behance.net/gallery/15876377/BUILDING-Free-Typeface';
#football_spin {
  animation: footballspin ease-in 2s;
}

.both_teams {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.both_teams__vs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.both_teams__vs i {
  transform: rotate(45deg);
}
.both_teams__h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.both_teams section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 900;
  font-size: 58px;
  color: black;
  letter-spacing: 4px;
  height: 80px;
  font-family: Behance, sans-serif;
}
.both_teams section i {
  font-size: 50px;
  transform: rotate(45deg);
}
.both_teams__chart {
  position: absolute;
  bottom: 240px;
}

@media (max-width: 843px) {
  .both_teams {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@keyframes footballspin {
  0% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(1140deg);
  }
  100% {
    transform: rotate(1125deg);
  }
}
