.each_team {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
  min-width: 320px;
<<<<<<< HEAD
  height: 100vh;
  position: relative; }
  .each_team #each_team__left-helmet {
    transform: scaleX(-1);
    animation: footballhelmets 3s; }
=======
  height: 100vh; }
  .each_team__leftOpponent-helmet {
    transform: scaleX(-1); }
  .each_team__rightOpponent-helmet {
    animation: leftHelmet 4s; }
>>>>>>> 2a20b5edb34a62063bf3782e0bbe010b49e7feea
  .each_team__background_image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    opacity: 0.4;
    position: absolute;
    z-index: -1; }
  .each_team__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px; }
    .each_team__details h2 {
      box-sizing: border-box; }
      .each_team__details h2:nth-child(1) {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        font-weight: 900; }
      .each_team__details h2:nth-child(2) {
        padding-top: 5px; }
  .each_team section {
    width: 320px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .each_team section div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap; }
      .each_team section div h3 {
        box-sizing: border-box;
        padding: 6px; }
        .each_team section div h3:nth-child(1) {
          font-weight: 900;
          font-size: 23px;
          border-bottom: 2px solid black; }
        .each_team section div h3:nth-child(2) {
          font-weight: 600;
          font-size: 21px; }
  .each_team footer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .each_team footer h2 {
      font-family: Droid serif;
      font-weight: 900;
      font-size: 100px;
      color: #333;
      text-shadow: 2px 2px 3px #333; }

@media (max-width: 843px) {
  .each_team {
    width: 100%; } }

<<<<<<< HEAD
@keyframes footballhelmets {
  0% {
    transform: translate(0px); }
  100% {
    transform: translate(100px); } }
=======
@keyframes leftHelmet {
  0% {
    transform: rotate(0deg); }
  5% {
    transform: rotate(-20deg); }
  10% {
    transform: rotate(-30deg); }
  15% {
    transform: rotate(-10deg); }
  20% {
    transform: rotate(-30deg); }
  25% {
    transform: rotate(-10deg); }
  30% {
    transform: rotate(-30deg); }
  35% {
    transform: rotate(-10deg); }
  40% {
    transform: rotate(-30deg); }
  45% {
    transform: rotate(-10deg); }
  50% {
    transform: translateX(100px, 100px); }
  55% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(-30deg); }
  65% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(-30deg); }
  75% {
    transform: rotate(-10deg); }
  80% {
    transform: rotate(-30deg); }
  85% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(-30deg); }
  95% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }
>>>>>>> 2a20b5edb34a62063bf3782e0bbe010b49e7feea
