@import "../../../Sass/_mixins";
@import "../../../Sass/_variables";
.both_teams {
  @include flex(space-around, flex-start, row);
  &__h2 {
    @include flex(center, center, row);
    font-weight: 900;
    font-size: 28px;
    color: black;
    letter-spacing: 4px;
    height: 80px;
  }
  &__chart {
    position: absolute;
    bottom: 30px;
  }
}
@media (max-width: "843px") {
  .both_teams {
    @include flex(space-around, center, column);
  }
}
