@import "../../../Sass/_mixins";
@import "../../../Sass/_variables";
@import "https://www.behance.net/gallery/15876377/BUILDING-Free-Typeface";
.both_teams {
  @include flex(space-around, flex-start, row);
  &__h2 {
    @include flex(center, center, row);
    font-weight: 900;
    font-size: 58px;
    color: black;
    letter-spacing: 4px;
    height: 80px;
    font-family: Behance, sans-serif;
  }
  &__chart {
    position: absolute;
    bottom: 240px;
  }
}
@media (max-width: "843px") {
  .both_teams {
    @include flex(space-around, center, column);
  }
}
