@import "../../../Sass/_mixins";
@import "../../../Sass/_variables";
.doughnut {
  @include flex(center, center, row);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27%;

  height: 300px;
  width: 550px;
  // background: blue;
}
