@import "../../../Sass/_mixins";
@import "../../../Sass/_variables";
.each_team {
  width: 40vw;
  min-width: 320px;
  height: 100vh;
  position: relative;
  &__background_image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
  &__details {
    width: 100%;
    @include flex(center, center, column);
    margin-top: 25px;
    h2 {
      box-sizing: border-box;

      &:nth-child(1) {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        font-weight: 900;
      }
      &:nth-child(2) {
        padding-top: 5px;
      }
    }
  }
  section {
    width: 320px;
    min-width: 320px;
    margin: 25px auto 0 auto;
    @include flex(space-around, center, row);
    div {
      @include flex(center, center, column);
      h3 {
        box-sizing: border-box;
        padding: 6px;
        &:nth-child(1) {
          font-weight: 900;
          font-size: 23px;
          border-bottom: 1px solid black;
        }
        &:nth-child(2) {
          font-weight: 600;
          font-size: 21px;
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
      }
    }
  }
  footer {
    // box-sizing:border-box;

    width: 100%;
    height: 400px;
    @include flex(center, center, row);
    h2 {
      font-family: Droid serif;
      font-weight: 900;
      font-size: 100px;
      color: #333;
      text-shadow: 2px 2px 3px#333;
    }
  }
}
@media (max-width: "843px") {
  .each_team {
    width: 100%;
  }
}
